.mainNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.links {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-top: 2rem;
}

.links:hover {
  color: #38b3ec;
}

.profileLink {
  margin-top: 2rem;
  transition: color 0.3s ease;
}

.profileLink:hover {
  color: #38b3ec;
}
